<div ng-controller="DashboardCtrl">	
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h1 class="text-center">{{profile.username}}'s Dashboard</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">Progress</h1>
				</div>
				<div class="list-group panel-content">
					<a href="#/users/{{profile.id}}/books" class="list-group-item">
						<h4>Books <span class="label label-primary">{{bookProgress.complete}}/{{bookProgress.total}}</span></h4>
						<progressbar max="100" value="(bookProgress.complete * 100 / bookProgress.total)" type="{{findProgressType(bookProgress)}}" tooltip={{bookProgress.complete}}/{{bookProgress.total}}></progressbar>
					</a>
					<a href="#/users/{{profile.id}}/games" class="list-group-item">
						<h4>Games <span class="label label-primary">{{gameProgress.complete}}/{{gameProgress.total}}</span></h4>
						<progressbar max="100" value="(gameProgress.complete * 100 / gameProgress.total)" type="{{findProgressType(gameProgress)}}" tooltip={{gameProgress.complete}}/{{gameProgress.total}}></progressbar>
					</a>
					<a href="#/users/{{profile.id}}/movies" class="list-group-item">
						<h4>Movies <span class="label label-primary">{{movieProgress.complete}}/{{movieProgress.total}}</span></h4>
						<progressbar max="100" value="(movieProgress.complete * 100 / movieProgress.total)" type="{{findProgressType(movieProgress)}}" tooltip={{movieProgress.complete}}/{{movieProgress.total}}></progressbar>
					</a>
					<a href="#/users/{{profile.id}}/shows" class="list-group-item">
						<h4>Shows <span class="label label-primary">{{showProgress.complete}}/{{showProgress.total}}</span></h4>
						<progressbar max="100" value="(showProgress.complete * 100 / showProgress.total)" type="{{findProgressType(showProgress)}}" tooltip={{showProgress.complete}}/{{showProgress.total}}></progressbar>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Following List</h3>
				</div>
				<div class="list-group panel-content">
					<a href="#" class="list-group-item">
						Following 1
					</a>
					<a href="#" class="list-group-item">
						Following 2
					</a>
					<a href="#" class="list-group-item">
						Following 3
					</a>
					<a href="#" class="list-group-item">
						Following 4
					</a>
					<a href="#" class="list-group-item">
						Following 5
					</a>
					<a href="#" class="list-group-item">
						Following 6
					</a>
					<a href="#" class="list-group-item">
						Following 7
					</a>
					<a href="#" class="list-group-item">
						Following 8
					</a>
					<a href="#" class="list-group-item">
						Following 9
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Comments</h3>
				</div>
				<div class="list-group panel-content">
					<div ng-repeat="comment in comments | orderBy: 'created_at'"class="list-group-item">
						<h5 class="list-group-item-heading"><i><a href="#/users/{{comment.author}}/dashboard">{{comment.authorname}}</a></i></h5>
						<p class="list-group-item-content">{{comment.body}}</p>
					</div>
					<span ng-hide="comments.length > 0"><i>No comments to display</i></span>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Post Comment</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" ng-submit="addComment()">
						<fieldset>
							<div class="form-group">
								<div class="col-md-12">
									<textarea class="form-control" type="text" rows="4" ng-model="body"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-1">
									<button type="submit" class="btn btn-success">Post</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>