<div ng-controller="GameCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1>{{profile.username}}'s Games</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">Progress</h1>
				</div>
				<div class="list-group panel-content">
					<div class="list-group-item">
						<h4>Games <span class="label label-primary">{{gameProgress.complete}}/{{gameProgress.total}}</span></h4>
						<progressbar max="gameProgress.total" value="gameProgress.complete" type="{{findProgressType(gameProgress)}}" tooltip={{gameProgress.complete}}/{{gameProgress.total}}></progressbar>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row library-header">
					<div class="col-md-4">
						<a href="#/games/create" class="btn btn-success">Add Game</a>
					</div>
					<div class="col-md-8">
						<div class="btn-group btn-group-justified">
							<a href="#" class="btn btn-primary">All</a>
							<a href="#" class="btn btn-primary">Beaten</a>
							<a href="#" class="btn btn-primary">Unfinished</a>
							<a href="#" class="btn btn-primary">Playing</a>
						</div>
					</div>
				</div>
				<div class="row">
					<table class="table table-hover table-striped library-border">
						<thead class="library-border">
							<tr>
								<th>Title</th>
								<th>System</th>
								<th>Status</th>
								<th>Rating</th>
								<th></th> <!-- View comment/review -->
								<th></th> <!-- Edit -->
								<th></th>	<!-- Delete -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="game in games | orderBy: 'name'">
								<td class="col-md-5">{{game.name}}</td>
								<td class="col-md-2">{{game.system}}</td>
								<td class="col-md-1">
									<span ng-show="game.beaten" class="glyphicon glyphicon-check"></span>
									<span ng-hide="game.beaten" class="glyphicon glyphicon-unchecked"></span>
								</td>
								<td class="col-md-1">
									<rating ng-show="game.rating > 0" ng-model="game.rating" max="max" readonly="true"></rating>
								</td>
								<td class="col-md-1">
									<span ng-show="game.comment != null && game.comment != ''" class="glyphicon glyphicon-file"></span>
								</td>
								<td class="col-md-1"><a href="#/games/{{game.id}}/edit" class="btn btn-warning table-btn"><span class="glyphicon glyphicon-edit"></span></a></td>
								<td class="col-md-1"><button class="btn btn-danger table-btn" ng-click="deleteGame(game.id)"><span class="glyphicon glyphicon-trash"></span></button></td>
							</tr>
						</tbody>
					</table>
					<span ng-hide="games.length > 0"><i>No games to display</i></span>
				</div>
			</div>
		</div>
	</div>
</div>