<div ng-controller="ShowCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h1 class="text-center">{{profile.username}}'s Shows</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">Progress</h1>
				</div>
				<div class="list-group panel-content">
					<div class="list-group-item">
						<h4>Shows <span class="label label-primary">{{showProgress.complete}}/{{showProgress.total}}</span></h4>
						<progressbar max="100" value="(showProgress.complete * 100 / showProgress.total)" type="{{findProgressType(showProgress)}}" tooltip={{showProgress.complete}}/{{showProgress.total}}></progressbar>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<div class="row library-header">
					<div class="col-md-4">
						<a href="#/shows/create" class="btn btn-success">Add Show</a>
					</div>
					<div class="col-md-8">
						<div class="btn-group btn-group-justified">
							<span class="btn btn-primary" ng-click="setFilter('all')">All</span>
							<span class="btn btn-primary" ng-click="setFilter('finished')">Finished</span>
							<span class="btn btn-primary" ng-click="setFilter('unfinished')">Unfinished</span>
							<span class="btn btn-primary" ng-click="setFilter('watching')">Watching</span>
						</div>
					</div>
				</div>
				<div class="row">
					<table class="table table-hover table-striped library-border">
						<thead class="library-border">
							<tr>
								<th>Title</th>
								<th>Type</th>
								<th>Status</th>
								<th>Episodes</th>
								<th>Rating</th>
								<th></th> <!-- View comment/review -->
								<th></th> <!-- Edit -->
								<th></th> <!-- Delete -->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="show in shows | orderBy: 'name'" ng-class="{info: show.watching}">
								<td class="col-md-5">{{show.name}}</td>
								<td class="col-md-1">{{show.showtype}}</td>
								<td class="col-md-1">
									<span ng-show="show.finished" class="glyphicon glyphicon-check"></span>
									<span ng-hide="show.finished" class="glyphicon glyphicon-unchecked"></span>
								</td>
								<td class="col-md-1">{{show.currentepisode}}/{{show.totalepisodes}}</td>
								<td class="col-md-1">
									<rating ng-show="show.rating > 0" ng-model="show.rating" max="max" readonly="true"></rating>
								</td>
								<td class="col-md-1">
									<span ng-show="show.comment != null && show.comment != ''" class="glyphicon glyphicon-file"></span>
								</td>
								<td class="col-md-1">
									<a href="#/shows/{{show.id}}/edit" class="btn btn-warning table-btn" ng-show="isOwner"><span class="glyphicon glyphicon-edit"></span></a>
								</td>
								<td class="col-md-1">
									<button class="btn btn-danger table-btn" ng-click="deleteShow(show)" ng-show="isOwner"><span class="glyphicon glyphicon-trash"></span></button>
								</td>
							</tr>
						</tbody>
					</table>
					<span ng-hide="shows.length > 0"><i>No shows to display</i></span>
				</div>
			</div>
		</div>
	</div>
</div>