<!DOCTYPE html>
<html>
<head>
  <title>HobbyHound</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="hobbyhound">
	<div class="col-md-12 col-md-offset-2">
		<div ng-include="'nav/_nav.html'"></div>
		<div ui-view></div>
	</div>
</body>
</html>
